<div *ngIf="showAnything">
   <div *ngIf="!doesntExist" class="userPage">
      <div class="profile" *ngIf="userDetails">
           <div class="avatar">
              <div class="imgAvatar">
                  <img  class="img" [src]="userDetails.avatar_url" />
              </div>
              <div class="gitlink">
               <img class="icon " src="./assets/link.svg"/>
                 <a [href]="'https://github.com/'+userID" target="_blank">  {{ 'https://github.com/' + userID}}</a>
              </div>
           </div>
           <div class="details">
              <h3 class="name"> {{userDetails.name}} </h3>
              <h6  *ngIf="userDetails.bio"  class="bio"> {{userDetails.bio}} </h6>
              <h6  *ngIf="userDetails.location"  class="location"> <img class="icon " src="./assets/location.svg"/>  {{userDetails.location}} </h6>
              <a *ngIf="_get(userDetails,'twitter_username')" class="twitter" [href]="'https://twitter.com/' + (userDetails.twitter_username ? userDetails.twitter_username : '')">  {{ _get(userDetails,'twitter_username') ? "https://twitter.com/" + userDetails.twitter_username : "--"}}  </a>
   
           </div>
      </div>
      <div class="profile" *ngIf="!userDetails">
           <app-loader class="hw-100" [type]="'profile'">
           </app-loader>
      </div>
      <div class="repositories">
         <div class="listRepos" *ngIf="(repos ? repos.length > 0 : false) && !loadingRepos">
               <ng-container *ngFor="let item of repos">
                  <div class="repo">
                     <app-repository [repoDetails]="item"></app-repository>
                  </div>
               </ng-container>
         </div>
         <div class="hw-100" *ngIf="loadingRepos">
            <app-loader class="hw-100" [type]="'repos'">
            </app-loader>
         </div>
         <div class="noRepos" *ngIf="!loadingRepos && repos.length==0 ">
            <h2>No repositories available for this user..</h2>
         </div>
         <div class="pagination"  *ngIf="(repos ? repos.length > 0 : false) && !loadingRepos">
            <ngb-pagination (pageChange)="changePage($event)"
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="totalRepos"></ngb-pagination>
         </div>
         <div class="paginationShort"  *ngIf="(repos ? repos.length > 0 : false) && !loadingRepos">
            <button [ngClass] = "{'disabled-cursor': !isEnabled(-1,totalRepos,pageSize,page)}" class="btn btn-default pgBtn left" (click)="movePage(-1)">
               <img class="icon rot180" src="./assets/arrow.svg"/> Older </button>
            <button  [ngClass] = "{'disabled-cursor': !isEnabled(1,totalRepos,pageSize,page)}" class="btn btn-default pgBtn right" (click)="movePage(1)">
               Newer <img class="icon " src="./assets/arrow.svg"/>  </button>
         </div>
      </div>
   </div>
   <div *ngIf="doesntExist" class="userPageDontExist">
      <h1>OOOPS!</h1>
      <h2>This username does not exist. Please try again with a correct user ID</h2>
      <!-- <a href=".">
         <button class="btn btn-md btn-info">Go Back</button>
      </a> -->
   </div>
</div>
